h3 {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  ul {
    padding-left: 1.4rem;
  }
  
  ion-card-title {
    font-size: 1.2rem;
  }
  
  ion-header {
    padding-top: 40px;
  }
  
  ion-toolbar {
    min-height: 60px;
  }
  