<ion-header>
  <ion-toolbar>
    <ion-title>Food & Drink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Display each food/drink spot in a card -->
  <ion-card *ngFor="let place of foodPlaces">
    <ion-card-header>
      <ion-card-title>{{ place.name }}</ion-card-title>
      <ion-card-subtitle>{{ place.type }}</ion-card-subtitle>
    </ion-card-header>

    <ion-img
      [src]="place.image"
      [alt]="place.name"
      style="height: 200px; object-fit: cover;">
    </ion-img>

    <ion-card-content>
      <p>{{ place.description }}</p>
      <ion-button
        fill="outline"
        size="small"
        color="primary"
        (click)="openMap(place.mapLink)">
        Find on Map
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer-nav></app-footer-nav>
