<ion-header>
  <ion-toolbar>
    <ion-title>Getting Around</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Link to bus routes -->
    <ion-item routerLink="/bus-routes">
      <ion-label>Bus</ion-label>
    </ion-item>

    <!-- Link to taxi info -->
    <ion-item routerLink="/taxi">
      <ion-label>Taxi</ion-label>
    </ion-item>

    <!-- Link to train station info -->
    <ion-item routerLink="/train-station">
      <ion-label>Ceannt Train Station</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer-nav></app-footer-nav>
