<ion-header>
  <ion-toolbar>
    <ion-title>Galway City Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Find Your Way Around</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Use the map below to locate popular spots and navigate the city with ease.
    </ion-card-content>
  </ion-card>

  <!-- Map container -->
  <div id="map" style="width: 100%; height: 400px; background: #e0e0e0; text-align: center; line-height: 400px;">
    [Map to be added later]
  </div>
</ion-content>
